#root {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.editable-text {
  text-align: center;
  border: none;
  background: none;
}

.css-variables-provider {
  font: var(--font, 1rem/1.5 sans-serif);
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(var(--column-count), 1fr);
  /* gap: calc(var(--gap, 1) * 1px); */
  border: calc(var(--gap, 1) * 1px) solid var(--gbg, black);
  border-right: none;
  border-bottom: none;
  /* background: var(--gbg, black); */
}

.cell {
  aspect-ratio: var(--ar, 1);
  background: var(--cbg, white);
  border: calc(var(--gap, 1) * 1px) solid var(--gbg, black);
  border-top: none;
  border-left: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cell-input {
  width: 100%;

  color: var(--cfg, black);
  text-align: center;
  vertical-align: middle;
  font: var(--font, 12pt/1.2 sans-serif);
}

@media print {
  .controls {
    display: none;
  }
}

@media only screen {
  .print-only {
    display: none;
  }
}

.print-break {
  page-break-after: always;
}
